@font-face{
    font-family: "Roboto";
    src: url("Polices/RobotoCondensed-Regular.ttf");
}
@font-face{
    font-family: "Shrikhand";
    src: url("Polices/Shrikhand-Regular.otf");
}

@import "menus.scss";

p, h1, h3{
    font-family: "Roboto", arial,sans-serif;
}




ul{
    list-style-type: none;
}
html{
    font-size: 15px;
    width: 100%;
}

header{
    width: 100%;
    & img{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 20px;
        box-sizing: border-box;
    }
    & p{
        background-color: rgb(231, 231, 231);
        text-align: center;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        font-size: 1.2em;
        & i{
            margin-right: 20px;
        }
    }
}

.entête{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    & .submit{
        color: white;
        background: rgb(147,86,220);
        background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 73%);
        border-radius: 50px;
        height: 50px;
        width: 230px;
        margin-bottom: 30px;
        border: none;
        font-size: 1em;
    }
    & .submit:hover{
        color: #99E2D0;
    }
    & h1{
        font-size: 2em;
    }
    & p{
        width: 100%;
        font-size: 1.2em;
    }

}



.fonctionnement{
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    & i{
        padding-right: 40px;
    }
    & ul{
        padding-left: 0px;
        justify-content: space-around;
    }
    &__submit{
        width: 100%;
        height: 90px;
        border-radius: 30px;
        border: none;
        font-size: 1.1em;
        padding: 0px;
        margin-bottom: 30px;
    }
    &__submit:hover{
        background-color: #dabffdbd;
        & i{
            color: #9356DC;
        }
    }
}

.restaurants{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(233, 233, 233);
    font-size: 1.3em;
    align-items: center;
    justify-content: space-around;    
    &__box{
        box-sizing: border-box;
        width: 650;
        height: 350px;
        border: 2px solid white;
        border-radius: 20px;
        text-align:left;
        overflow: hidden;
        margin-bottom: 15px;
        background-color: white;
    }
    & a{
        color: black;
        text-decoration: none;
        width: 650px;
        height: 350px;
    }
    & a:hover{
        color: #99E2D0 ;
    }
    &__box img{
        box-sizing: border-box;
        width: 650px;
        height: 250px;
        object-fit: cover;
        background-color: white;
        border: transparent;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
    }
    & ul{
        padding-left: 0px;
    }
    & h3{
        margin: 5px 0px 0px 15px;
    }
    & h1{
        width: 100%;
    }
    & p{
        margin: 10px 0px 0px 15px;
    }
    & .fa-heart{
        transform: translate(590px, -50px);
        font-size: 1.5em;
        &:active{
            color: #9356DC;
        }
        &:hover{
            cursor:grab;
            color: #9356DC;
        }
    }
}




footer{
    background-color: rgb(73, 73, 73);
    width: 100%;
    color: white;
    font-size: 1.1em;
    padding-left: 5px;
    box-sizing: border-box;
    padding: 15px 0px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & a{
        color: white;
        text-decoration: none;
    }
    & a:hover{
        color: black;
    }
    & i{
        padding-right: 10px;
    }
    & ul{
        padding: 0px;
    }
    & li{
        margin-bottom: 7px;
    }
    & h3{
        margin-bottom: 10px;
        font-size: 1.3em
    }
}