@import "ressources.scss";
@include footer-style;
@include html-style;
@include header-style;
@include font-family;
@include body-style;


.entête{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    & .submit{
        color: $white;
        background: $color-primary;
        background: linear-gradient(0deg, $color-primary 0%, $color-secondary 73%);
        border-radius: 50px;
        height: 50px;
        width: 230px;
        margin-bottom: 30px;
        border: none;
        font-size: 1em;
        transition: transform .4s;
        cursor: pointer;
    }
    & h1{
        font-size: 2em;
    }
    & p{
        width: 100%;
        font-size: 1.2em;
    }
    & .ville{
        background-color: rgb(231, 231, 231);
        text-align: center;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        &:hover{
            background-color: $color-tertiary;
            cursor: pointer;
        }
    }
}



.fonctionnement{
    font-size: 1.3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    h1{
        padding-left: 20px;
    }
    & ol{
        padding-left: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        height: auto;
        justify-content: space-between;
        .li-first, .li-second, .li-tertiary{
            &::before{
                color: black;
                background: $color-primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                font-size: 1.2em;
                transform: translate(-15px, 60px);
            }
        }
        .li-first::before{
            content: "1";
        }
        .li-second::before{
            content: "2";
        }
        .li-tertiary::before{
            content: "3";
        }
        i{
            padding-right: 10%;
        }
    }
    &__submit{
        width: 92%;
        height: 90px;
        border-radius: 30px;
        border: none;
        font-size: 1.1em;
        padding: 0px;
        margin-bottom: 20px;
        transition: transform .4s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__submit:hover{
        background-color: #dabffdbd;
        & i{
            color: $color-primary;
        }
    }
}

.restaurants{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: rgb(233, 233, 233);
    font-size: 1.3em;
    &__box{
        box-sizing: border-box;
        justify-content: space-around;
        width: 95%;
        margin: auto;
        height: 350px;
        border: 2px solid $white;
        border-radius: 20px;
        text-align:left;
        overflow: hidden;
        margin-bottom: 15px;
        background-color: $white;
        position: relative;
        transition: transform .4s;
        & .new{
            background-color: $color-tertiary;
            color: #007054;
            width: 85px;
            height: 27px;
            margin: 0px;
            padding: 3px;
            font-size: 1.1em;
            border-radius: 10px;
            position: absolute;
            top: 5%;
            right: 3%;
        }
    }

    & a{
        color: black;
        text-decoration: none;
        width: 650px;
        height: 350px;
    }
    & a:hover{
        color: $color-tertiary ;
    }
    &__box img{
        box-sizing: border-box;
        width: 100%;
        height: 250px;
        object-fit: cover;
        background-color: $white;
        border: transparent;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
    }
    & ul{
        padding-left: 0px;
    }
    & h3{
        margin: 5px 0px 0px 15px;
    }
    & h1{
        width: 200px;
        padding-left: 20px;
    }
    & p{
        margin: 10px 0px 0px 15px;
    }
    & .heart{
        color: rgb(163, 163, 163);
        float: right;
        font-size: 1.7em;
        width: 30px;
        height: 30px;
        transform: translate(-20px, -20px);
        i:nth-child(1){
            display: none;
        }
        &:hover{
            cursor: grab;
            i:nth-child(1){
                color: $color-primary;
                display: block;
            }
            i:nth-child(2){
                display: none;
            }
        }
    }
}



@media screen and (min-width: 1024px){
    html{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    header{
        box-sizing: border-box;
        height: auto;
        padding: 40px;
        margin-bottom: 15px;
        & img{
            margin: 0px;
            width: 500px;
            height: 90px;
        }
    }
    .entête{
        width: 35%;
        height: 30%;
        margin-left: 1%;
        float: left;
        margin-bottom: 100px;
        font-size: 1.1em;
        border-radius: 30px;
        & .submit{
            margin: 0px;
            background: rgb(153,226,208);
            background: linear-gradient(180deg, rgba(153,226,208,1) 5%, rgba(0,196,147,1) 64%);
            &:hover{
                transform: scale(1.3);
                color: black;
                border: 1px dashed #00291F;
            }
        }
        & .ville{
            border-radius: 20px;
            margin: 20px;
        }
    }
    .fonctionnement{
        width: 62%;
        height: 30%;
        margin-right: 1%;
        float: right;
        margin-bottom: 100px;
        & h1{
            display: none;
        }
        & ol{
            border-radius: 30px;
            background-color: $color-tertiary;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            margin: 0px;
            font-size: 1.2em;
            .li-first, .li-second, .li-tertiary{
                &::before{
                    display: none;
                }
            }
            & .fa-circle{
                width: 30px;
            }
        }
        &__submit{
            width: 95%;
            height: 70px;
            margin: 0px 0px 0px 2%;
            &:hover{
                transform: scale(1.02);
                background-color: #00c493b4;
                color: $white;
                text-decoration: underline 2px;
                text-underline-offset: 2px;
                i{
                    color: $white;
                }
            }
        }
    }
    .restaurants{
        width: 100%;
        & h1{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            letter-spacing: 0.7em;
            color: $color-primary;
            font-size: 2.5em;
            margin-bottom: 50px;
            padding-left: 0px;
            color: #00291F;
        }
        & ul{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            height: auto;
            justify-content: space-around;
            align-items: center;
        }
        &__box{
            width: 48%;
            height: 600px;
            background-color: $color-tertiary;
            margin-bottom: 30px;
            &:hover{
                transform: scale(1.05);
                border-color: #00291F;
            }
        }
        &__box img{
            height: 500px;
        }
        & .fa-heart{
            color: $white;
        }
        & a:hover{
            color: black ;
        }
        .heart{
            &:hover{
                cursor: grab;
                i:nth-child(1){
                    color: #00291F;
                    display: block;
                }
                i:nth-child(2){
                    display: none;
                }
            }
        }
    }
    footer{
        justify-content: center;
        align-items: center;
        word-spacing: 0.3em;
        font-size: 1.5em;
        & ul{
            width: 80%;
            height: 30%;
        }
        & h1{
            letter-spacing: .5em;
            font-size: 1.7em;
            color: #00291F;
        }
        & li:nth-child(1), li:nth-child(3){
            float: left;
            width: 50%;
        }
        & li:nth-child(2), li:nth-child(4){
            float: right;
            width: 50%;
            text-align: right;
        }
        & li:hover{
                transform: scale(1.1);
            }
        a:hover{
            color: #00291F;
            text-decoration: 1px underline #00291F;
            text-underline-offset: 2px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    html{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        background-color: $color-desktop;
    }
    header{
        height: 5%;
        margin: 0px;
    }
    .entête{
        width: 100%;
        height: 15%;
        margin-bottom: 2%;
        font-size: 1.1em;
        border-radius: 30px;
        & .submit{
            margin: 0px;
            &:hover{
                transform: scale(1.3);
            }
        }
        & .ville{
            border-radius: 20px;
            margin: 3%;
            &:hover{
                background-color: $color-desktop;
            }
        }
    }
    .fonctionnement{
        width: 30%;
        float: left;
        margin-bottom: 5%;
        position: sticky;
        top: 15%;
        & h1{
            display: none;
        }
        &__submit{
            display: flex;
            align-items: center;
            height: 80px;
            width: 90%;
            text-align: center;
            background-color: $white;
            &:hover{
                background-color: $color-secondary;
                transform: scale(1.05);
                i{
                    color: $color-primary;
                }
            }
        }
        & ol{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0px;
            border-radius: 20px;
            height: 400px;
            .li-first, .li-second, .li-tertiary{
                &::before{
                    display: none;
                }
            }
            i{
                padding-right: 10%;
                margin-left: 2%;
            }
        }

    }
    .restaurants{
        width: 69%;
        float: right;
        align-items: center;
        border-radius: 20px;
        & h1{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: $color-primary;
            padding: 0px;
        }
        &__box{
            width: 95%;
            height: 600px;
            margin: auto;
            margin-bottom: 3%;
            background-color: $color-desktop;
            &:hover{
                transform: scale(1.03);
                border: 2px solid $color-secondary;
            }
        }
        &__box img{
            height: 500px;
        }
        & .fa-heart{
            color: $white;
        }
        & a:hover{
            color: black;
        }
        & .new{
            background-color: $color-desktop;
            color: black;
        }
        & .heart:hover{
            color: $color-secondary;
            cursor: grab;
            i:nth-child(1){
                color: $color-secondary;
                display: block;
            }
            i:nth-child(2){
                display: none;
            }
        }
    }
    footer{
        width: 100%;
        font-size: 1.5em;
        & ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
        }
        & h1{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-desktop;
        }
        & a:hover{
            color: $color-secondary;
            text-decoration: 2px underline;
            text-underline-offset: 2px;
        }
    }
}