@import "ressources.scss";
@include footer-style;
@include html-style;
@include header-style;
@include font-family;
@include body-style;


.entête{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    & .submit{
        color: $white;
        background: $color-primary;
        background: linear-gradient(0deg, $color-primary 0%, $color-secondary 73%);
        border-radius: 50px;
        height: 50px;
        width: 230px;
        margin-bottom: 30px;
        border: none;
        font-size: 1em;
        transition: transform .4s;
    }
    & h1{
        font-size: 2em;
    }
    & p{
        width: 100%;
        font-size: 1.2em;
    }
    & .ville{
        background-color: rgb(231, 231, 231);
            text-align: center;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px;
            font-size: 1.2em;
            letter-spacing: 0.1em;
        &:hover{
            background-color: $color-tertiary;
        }
    }
}



.fonctionnement{
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    & .fa-circle{
        padding-right: 0px;
        color: $color-primary;
        font-size: 1.3em;
        transform: translate(18px, 85px);
    }
    & .number{
        width: 50px;
        margin: 0px;
        padding: 0px;
        transform: translate(26px, 55px);
        font-size: 0.9em;
        color: $white;
    }
    & i{
        padding-right: 40px;
    }
    & ul{
        padding-left: 0px;
        margin-top: -30px;
        height: 500px;
        justify-content: space-between;
    }
    &__submit{
        width: 95%;
        height: 90px;
        border-radius: 30px;
        border: none;
        font-size: 1.1em;
        padding: 0px;
        margin-left: 30px;
        margin-bottom: -20px;
        transition: transform .4s;
    }
    &__submit:hover{
        background-color: #dabffdbd;
        & i{
            color: $color-primary;
        }
    }
}

.restaurants{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: rgb(233, 233, 233);
    font-size: 1.3em;
    &__box{
        box-sizing: border-box;
        justify-content: space-around;
        width: 100%;
        height: 350px;
        border: 2px solid $white;
        border-radius: 20px;
        text-align:left;
        overflow: hidden;
        margin-bottom: 15px;
        background-color: $white;
        position: relative;
        transition: transform .4s;
        & .new{
            background-color: $color-tertiary;
            color: #007054;
            width: 85px;
            height: 27px;
            margin: 0px;
            padding: 3px;
            font-size: 1.1em;
            border-radius: 10px;
            position: absolute;
            top: 5%;
            right: 3%;
        }
    }

    & a{
        color: black;
        text-decoration: none;
        width: 650px;
        height: 350px;
    }
    & a:hover{
        color: $color-tertiary ;
    }
    &__box img{
        box-sizing: border-box;
        width: 100%;
        height: 250px;
        object-fit: cover;
        background-color: $white;
        border: transparent;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
    }
    & ul{
        padding-left: 0px;
    }
    & h3{
        margin: 5px 0px 0px 15px;
    }
    & h1{
        width: 100%;
    }
    & p{
        margin: 10px 0px 0px 15px;
    }
    & .heart{
        color: rgb(163, 163, 163);
        float: right;
        font-size: 1.7em;
        width: 30px;
        height: 30px;
        transform: translate(-20px, -20px);
        i:nth-child(1){
            display: none;
        }
        &:hover{
            cursor: grab;
            i:nth-child(1){
                color: $color-primary;
                display: block;
            }
            i:nth-child(2){
                display: none;
            }
        }
    }
}



@media only screen and (min-width: 1024px){
    html{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    header{
        box-sizing: border-box;
        height: auto;
        padding: 40px;
        margin-bottom: 15px;
        & img{
            margin: 0px;
            width: 500px;
            height: 90px;
        }
    }
    .entête{
        width: 39%;
        height: 30%;
        float: left;
        margin-bottom: 100px;
        font-size: 1.1em;
        border-radius: 30px;
        margin-left: 1%;
        margin-right: 1%;
        & .submit{
            margin: 0px;
            &:hover{
                transform: scale(1.3);
            }
        }
        & .ville{
            border-radius: 20px;
            margin: 20px;
        }
    }
    .fonctionnement{
        width: 58%;
        height: 30%;
        flex-direction: row;
        margin-bottom: 100px;
        margin-right: 1%;
        & h1{
            display: none;
        }
        & ul{
            border-radius: 30px;
            background-color: $color-tertiary;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            margin: 0px;
            font-size: 1.2em;
            & .fa-circle{
                width: 30px;
            }
        }
        &__submit{
            width: 95%;
            height: 70px;
            margin: 0px 0px 0px 2%;
            &:hover{
                transform: scale(1.1);
            }
        }
        & .fa-circle, .number{
            display: none;
        }
    }
    .restaurants{
        & h1{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            letter-spacing: 0.7em;
            color: $color-primary;
            font-size: 2.5em;
            margin-bottom: 50px;
        }
        & ul{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            height: auto;
            justify-content: space-around;
            align-items: center;
        }
        &__box{
            width: 48%;
            height: 600px;
            background-color: $color-tertiary;
            margin-bottom: 30px;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__box img{
            height: 500px;
        }
        & .fa-heart{
            color: $white;
        }
        & a:hover{
            color: $color-primary ;
        }
    }
    footer{
        justify-content: center;
        align-items: center;
        word-spacing: 0.3em;
        font-size: 1.5em;
        & ul{
            width: 80%;
            height: 30%;
        }
        & h1{
            letter-spacing: .5em;
            font-size: 1.7em;
        }
        & li:nth-child(1), li:nth-child(3){
            float: left;
            width: 50%;
        }
        & li:nth-child(2), li:nth-child(4){
            float: right;
            width: 50%;
            text-align: right;
        }
        & li:hover{
                transform: scale(1.1);
            }
    }
}